<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/all.css">
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>
    <body>



        <div class="container">
            <div class="row">
                <div class="col-sm-6 mt-5">
                    <h2 class="alert alert-success text-center">Registration
                        Form</h2>
                    <!-- Form -->
                    <form method="post" action="/student"
                        enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="text" class="form-label">Name</label>
                            <input type="text" class="form-control"
                                id="text"
                                aria-describedby="text" name="name">
                            <div id="text" class="form-text">We'll never share
                                your info with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1"
                                class="form-label">Email</label>
                            <input type="text" class="form-control"
                                id="exampleInputPassword1" name="age">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1"
                                class="form-label">Phone</label>
                            <input type="text" class="form-control"
                                id="exampleInputPassword1" name="fees">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputImage" class="form-label">Image</label>
                            <input type="file" class="form-control"
                                id="exampleInputImage" name="img">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-sm-6 mt-5">
                    <h2 class="alert alert-danger text-center">List of Users</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var i=1 %>
                                <% data.forEach((item)=>{%>
                                    <tr>
                                        <th scope="row"><%=i++ %> </th>
                                            <td><%=item.name %> </td>
                                                <td><%=item.age %></td>
                                                    <td><%=item.fees %></td>
                                                        <td>
                                                            <form
                                                                action="/student/edit/<%=item._id
                                                                %> "
                                                                method="get"
                                                                class="d-inline">
                                                                <button
                                                                    type="submit"
                                                                    class="btn">
                                                                    <i
                                                                        class="fas
                                                                        fa-pen-square
                                                                        text-info"></i>
                                                                </button>
                                                            </form>

                                                            <form
                                                                action="/student/delete/<%=item._id
                                                                %> "
                                                                method="post"
                                                                class="d-inline">
                                                                <button
                                                                    type="submit"
                                                                    class="btn">
                                                                    <i
                                                                        class="fas
                                                                        fa-trash
                                                                        text-danger"></i>
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">

                                                    <img src="">
                                                </div>
                                            </div>


                                        </tbody>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="card"
                                                    style="width:
                                                    18rem;">
                                                    <% var i=1 %>
                                                        <%
                                                            data.forEach((item)=>{%>
                                                            <%=item.img%>
                                                                <img
                                                                    src="img/<%=item.img%>"
                                                                load="lazy"
                                                                width="100%"
                                                                alt="Image
                                                                data" />
                                                                <div
                                                                    class="card-body">
                                                                </div>
                                                                <% }) %>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <script src="js/all.js"></script>
                                                        <script
                                                            src="js/bootstrap.bundle.js"></script>
                                                    </body>
                                                </html>
